@import url("https://fonts.googleapis.com/css?family=Lato&display=swap");
* {
  margin: 0;
  padding: 0;
}

html,
body {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
}

.wrapper {
  height: 100%;
  width: 100%;
  background-image: url(../images/assets/Background.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.container {
  overflow: hidden;
  display: flex;
  width: 60.8%;
  height: 703.4px;
  box-shadow: 0px 2px 12px 6px rgba(0, 0, 0, 0.3);
  border-radius: 2px;
  margin: 0 auto;
  z-index: 999;
}

.module {
  width: 100%;
  background: white;
  height: 703.4px;
  z-index: 100;
}

.module2 {
  position: relative;
  width: 100%;
  background: white;
  height: 703.4px;
  z-index: 100;
}

.module4 {
  position: relative;
  width: 100%;
  background: white;
  height: 703.4px;
  z-index: 100;
}

.parties {
  width: 25%;
  background: #01b4dc;
  height: 703.4px;
}

.start {
  border: 2px solid black;
  border-radius: 50%;
  height: 100px;
  width: 100px;
  margin: 0 auto;
}

.circle {
  width: 165px;
  height: 50px;
  border-radius: 5px;
  border: 2px solid black;
  background: black;
  transition: 0.15s all ease-out;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
  color: white;
  cursor: pointer;
  font-weight: bold;
}

.title {
  padding: 20px;
  text-align: center;
  font-size: 40px;
  font-family: "Lato", sans-serif;
}

.circle:hover {
  box-shadow: 0px 2px 8px 2px rgba(0, 0, 0, 0.15);
  font-size: 20px;
  background: #0096b8;
  border: 2px solid #0096b8;
}

.fadeAway {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 0.5s, opacity 0.5s linear;
}

.top-side {
  height: 25.33%;
  width: 100%;
}

.center-side {
  height: 30.33%;
  width: 100%;
}

.bottom-side {
  height: 33.33%;
  width: 100%;
}

.logo {
  padding: 42px;
}

.intro-text {
  font-size: 22px;
  padding-top: 20px;
  color: #01b4dc;
  font-weight: bold;
}

.parties-participate {
  color: white;
  font-weight: bold;
  text-align: center;
}

.parties-not-text {
  color: white;
  font-weight: bold;
  text-align: center;
  padding: 10px;
}

.parties-icons {
  width: 100%;
  margin: 0 auto;
  margin-top: 20px;
  text-align: center;
}

.logo_parties {
  margin: 42px;
}

.icons {
  display: flex;
  align-items: center;
  justify-content: center;
  display: inline-block;
  overflow: hidden;
  width: 40px;
  height: 40px;
  background: white;
  border-radius: 50px;
  transition: 0.2s;
  margin: 0 5px 10px 0;
}

.icons:hover {
  transform: scale(1.7);
  box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.25);
  transition: 0.2s;
  cursor: pointer;
}
.icons img {
  width: 50%;
  height: 50%;
  margin: 8px;
  background-position: center center;
  background-size: 90%;
  background-repeat: no-repeat;
}

.options {
  width: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.options span {
  display: inline-block;
  width: 160px;
  height: 68px;
  border-radius: 2px;
  transition: 0.2s;
  font-size: 16px;
  z-index: 10;
  color: white;
  cursor: pointer;
  font-weight: bold;
  text-align: center;
  margin: 8px;
  line-height: 68px;
  padding: 0px 8px;
}

.options span:hover {
  transition: 0.2s;
  transform: scale(1.1);
}

.module2 .bottom-side {
}

.bott-top {
  height: 33.33%;
  width: 100%;
}

.bott-mid {
  height: 33.33%;
  width: 100%;
}

.bott-bott {
  height: 33.33%;
  width: 100%;
}

.statement_title {
  text-align: center;
  font-size: 30px;
  color: #05c53c !important;
  width: 555px;
  margin: 0 auto;
}

.opinion_title {
  text-align: center;
  font-size: 30px;
  color: #05c53c !important;
  width: 555px;
  margin: 0 auto;
}

.statement_text {
  margin: 0 auto;
  padding-top: 20px;
  width: 80%;
  /* text-align: center; */
  font-size: 20px;
  color: black;
  font-weight: bold;
}

.statement_holder {
  height: 80%;
  width: 80%;
  margin: 0 auto;
  /* background-image: url(../images/assets/Buttons/InformationBox.png);
  background-repeat: no-repeat;
  background-position: center; */
  background-color: white;
  border-radius: 0px;
  border: 2px solid white;
  box-shadow: 0px 2px 12px 6px rgba(0, 0, 0, 0.3);

  /* background-size: auto; */
}

.statement_title_underline {
  margin: 0 auto;
  text-align: center;
  width: 60%;

  border-bottom: 3px solid orange;
}

.left-arrow {
  transition: 0.2s;
  z-index: 100;
}

.left-arrow:hover {
  transform: scale(1.4);

  transition: 0.2s;
  cursor: pointer;
}

.next {
  animation-duration: 0.3s;
  animation-name: slidein;
}

.back {
  animation-duration: 0.3s;
  animation-name: slideinBack;
}

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}

@keyframes slideinBack {
  from {
    margin-right: 100%;
    width: 300%;
  }

  to {
    margin-right: 0%;
    width: 100%;
  }
}

.gems {
  z-index: 1 !important;

  text-align: center;
  background-image: url(../images/assets/gems_no_glow.png);
  background-repeat: no-repeat;
}

.agree {
  transition: 0.2s;
  background-color: #ff8f29;
}

.disagree {
  background-color: #ff5139;
}

.none {
  transition: 0.2s;
  background-color: #005a9d;
}

.skip {
  transition: 0.2s;
  background-color: #ffe829;
  margin-top: 42px !important;
  height: 39px !important;
  line-height: 29px !important;
}

.module3 {
  background: white;
  width: 100%;
  height: 900px;
}

.statement_opinion {
  background: black;
  width: 80px;
  color: white;
  text-align: center;
  margin: 20px 0px;
  cursor: pointer;
}

.statement_selection {
  margin: 0 auto;
  text-align: center;
}

.statement_selection div {
  display: inline-block;
}

.statement_selection {
  display: flex;
}

.statement_agree {
  width: 33%;
  background-color: white;
  border-radius: 0px;
  border: 2px solid white;
  box-shadow: 0px 2px 12px 6px rgba(0, 0, 0, 0.3);
}

.statement_disagree {
  width: 33%;
  background-color: white;
  border-radius: 0px;
  border: 2px solid white;
  box-shadow: 0px 2px 12px 6px rgba(0, 0, 0, 0.3);
}

.statement_none {
  width: 33%;
  background-color: white;
  border-radius: 0px;
  border: 2px solid white;
  box-shadow: 0px 2px 12px 6px rgba(0, 0, 0, 0.3);
}

.statement_opinion_text {
  display: block;
  padding: 3px;
}

.opinion_button {
  width: 200px !important;
}

.skip_button {
  position: absolute;
  bottom: 0;
  right: 0;
  cursor: pointer;
}

.skip_img {
  transition: 0.2s;
  width: 120px;
}

.skip_img:hover {
  transition: 0.2s;
  transform: scale(1.2);
}

.parties_holder span {
  height: 200px;
  width: 100px;
  margin: 16px;
  background: red;
}

.subjects_holder{
  
  
  text-align: center;
  display: inline;
}

.subjects::before{
  content: ' ';
  clear: right;
  display: block;
}

.butt{
  cursor: pointer;
}

.module5{
  position: relative;
  width: 100%;
  background: white;
  height: 703.4px;
  z-index: 100;
  text-align: center;
}

.parties_titles{
  display: inline-block;
  
}

label{
  padding: 4px;
}
.all_buttons{
  display: inline-block;
  margin: 0 auto;
  text-align: center;
}

.all_buttons button{
  
  width: 100px;
  height: 40px;
  font-size: 11px;
  background-color: black;
  color: white;
}

.subbutt {
  margin: 0 auto;
  text-align: center;
  cursor: pointer;
  width: 200px;
  height: 60px;
  font-size: 20px;
  background-color: black;
  color: white;
}
.patbutt{
  cursor: pointer;
  width: 100px;
  height: 40px;
  font-size: 20px;
  background-color: black;
  color: white;
}